*.swp
*.swo
__pycache__
**/__pycache__/**
*.tch
*.png
*.ds.json
log.txt
*temp.png
*.log
log**txt
*.sqlite
run.py
dd.png
begin.png
left.png
right.png
mai2019.utf8.txt
wikisection
# **\.paragraph.txt
g_save*
mess.txt

# latex
*\.aux
*\.dvi
*\.log
*\.out

nlp2021-sample.pdf
*copy.tex

wordcloud*
exp_novel.txt
comparisoned.txt
ablation_comparisoned.txt
